body{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* Favicon and Links */
.favicons li{
    display: inline;
    color: grey;
    font-size: 2rem;

}
.git :hover{
    color: black;
}
.linkedIn :hover{
    color: #0e76a8;
}

.navbar a{
    text-decoration: none;
    color: grey;
}

.home{
    float: left;
}

.navbar a:hover{
    color: black;
}



