body{
  background-color:beige;
  font-size: large;
  text-align: center;
}

.projectImage{
  width:600px;
  height: 450px;
}

.about{
  text-align: center;
}

.about p{
  line-height: 2;
  width: 50%;
  padding-left: 350px;
}

.footer{
  display: flex;
  justify-content: center;
}